<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cqie.cqdemo.mapper.FoodCategoriesMapper">
<!--美食-->
    <select id="getAllStatus" resultType="edu.cqie.cqdemo.entity.FoodCategories">
        SELECT * FROM food_categories ORDER BY created_at DESC;
    </select>
    <resultMap id="FoodWithCategoryMap" type="edu.cqie.cqdemo.entity.FoodCategories">
        <result property="id" column="id"/>
        <result property="createdAt" column="created_at"/>
        <result property="name" column="food_name"/>
        <result property="details" column="details"/>
        <result property="image" column="image"/>
        <association property="categories" javaType="edu.cqie.cqdemo.entity.Categories">
            <result property="name" column="category_name"/>
        </association>
    </resultMap>
<!--    查询所有美食-->
    <select id="selectFoods" resultMap="FoodWithCategoryMap">
        SELECT food_categories.id,
               food_categories.created_at,
               food_categories.name as food_name,
               food_categories.details,
               food_categories.image,
               categories.name as category_name FROM food_categories join categories on food_categories.category_id=categories.id where food_categories.status=1
    </select>
    <select id="selectone" resultMap="FoodWithCategoryMap">
        SELECT food_categories.id,
               food_categories.created_at,
               food_categories.name as food_name,
               food_categories.details,
               food_categories.image,
               categories.name as category_name FROM food_categories join categories on food_categories.category_id=categories.id where food_categories.status=1 and food_categories.id=#{id}
    </select>
</mapper>