<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.cqie.cqdemo.mapper.UserMapper">
    <select id="getUserName" resultType="java.lang.String">
        SELECT username
        FROM users
        WHERE id = #{id}
    </select>
    <select id="findNewUsersByDateRange" resultType="java.util.Map">
        SELECT DATE(created_at) AS date, COUNT(*) AS count
            FROM users
            WHERE created_at BETWEEN #{startDate} AND #{endDate}
            GROUP BY DATE(created_at)
    </select>
    <select id="getUsersInfo" resultType="edu.cqie.cqdemo.entity.Users">
        -- 查询普通用户的核心信息
        SELECT
            id AS user_id,               -- 用户ID
            username AS nickname,        -- 昵称
            phone AS mobile,             -- 手机号
            DATE_FORMAT(created_at, '%Y-%m-%d %H:%i:%s') AS register_time,  -- 注册时间（格式化）
            ext3               -- 状态
        FROM
            users
        WHERE
            role = 0                     -- 筛选普通用户（role=0）
        ORDER BY
            created_at DESC;             -- 按注册时间倒序排列
    </select>
</mapper>